@use "./var.module.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 500ms all;
}

body {
  background-color: rgb(var(--background-color));
  transition: 500ms all;
  margin: 0 auto;
  max-width: min(1000px, calc(100dvw - 1rem));

  #root {
    margin-top: 3rem;
  }
}
