@use "./var.module.scss" as *;

.todolist {
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(var(--text-color));
  background: rgb(var(--primary-color), 0.2);
  border: rgb(var(--primary-color), 0.5) 2px solid;

  div {
    padding-block: 0.5rem;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 50px 1fr 50px;

    &.isdone {
      opacity: 0.5;

      p {
        position: relative;
        padding-right: 1.5rem;
        max-width: 100%;
        word-break: break-all;
        word-wrap: break-word;
        text-wrap: pretty;

        &::before {
          position: absolute;
          content: "✔";
          right: 0px;
          top: 50%;
          translate: 0 -50%;
          color: rgb(var(--primary-color));
        }
      }
    }

    &:not(:last-of-type) {
      border-bottom: 2px solid rgb(var(--primary-color));
    }

    svg {
      cursor: pointer;
      display: block;
      margin: auto;
      transition: 500ms all;

      &[data-icon="trash"] {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      &[data-icon="trash"] {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      &[data-icon="square-check"] {
        opacity: 0.5;
      }
    }
  }
}
