@use "./var.module.scss" as *;

.togglestyle {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0.5rem;
  cursor: pointer;
  border-left: solid var(--primary-color) 3px;
  border-bottom: solid var(--primary-color) 3px;
  border-radius: 0 0 0 0.5rem;
  width: 30px;
  aspect-ratio: 1 / 1;
  background-color: rgba(var(--primary-color), 0.5);
  transition: 500ms all;

  &:hover {
    size: 0.1;
  }
}
