$dark-background: #1c2b2d;
$dark-text: #e0e7e9;
$dark-primary: #f28482;
$dark-shadow: rgba(0, 0, 0, 0.7);


$light-background: #fcfcfc;
$light-text: #3f4c4d;
$light-primary: #d85757;
$light-shadow: rgba(0, 0, 0, 0.15);